*{
    margin: 0;
    padding: 0;
}

body{    
    background-color: blueviolet;
}


#corpo{
    width: 1000px;
    background-color: #fff;
    margin: 0 auto;
    border-left: 2px solid green;
    border-right: 2px solid yellow;
}

#topo{
    padding: 20px 25px;
    border-bottom: 2px solid #ccc;
}

#topo a{
    color: #333;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#topo a:hover{
    text-decoration: underline;
}


#conteudo {
    background-color: #fff;
    padding: 20px 25px;

}

#conteudo section h1{
    font-size: 24px;
    color: #016796;
    margin-bottom: 20px;
}



#conteudo article {
    margin-bottom: 20px;
}


#conteudo article h2{
    margin-bottom: 7px;
}

#conteudo article h2 a{
    text-decoration: none;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

#conteudo article h2 a:hover{
    text-decoration: underline;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

#conteudo article p{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    padding-left: 2px;
}




